h1 {
    color: blue;
}

/*Formas de seleccionar un elemento en css*/

/*class*/
.parrafo-1 {
    color: brown;
    font-size: large;
}

/*id*/
#parrafo {
    color: blueviolet;
    font-size: larger;
    font-weight: bold;
}