:root {
    --primary-color: rgb(66, 68, 173);
    --secondary-color: rgb(66, 148, 173);
    --header-size: 4rem;
    --font: 1.8rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
header {
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color);
}
main {
    width: 100vw;
    height: 70vh;
    font-size: var(--font);
}
h1 {
    font-size: var(--header-size);
    color: var(--primary-color);
}
footer {
    width: 100vw;
    height: 15vh;
    background-color: var(--secondary-color);
}